body{

background-color: #0b0e11;
max-width: 100%;
margin: 0 0 0 0 ;

}


.Barra-arriba{

    background: linear-gradient(90deg, #eebd05 ,#f1cb5e);
    width: 100%;
    height: 30px;


}




#Header img{


    position: relative;
    bottom: 0.5em;

}




.barra-footer{

background: linear-gradient(90deg, #f1cb5e, #eebd05);
width: 100%;
height: 30px;

}


.barra-baja:hover{

background: linear-gradient(90deg, #eebd05, #f1cb5e);

}



#Header a{

color: white;
font-size: 13px;
position: relative;
top: 0.5em;

}


#Header a:hover{

color: #eebd05;

}


.Button{

color:white ;
background: linear-gradient(90deg, #f1cb5e, #eebd05);
border: none;
border-radius: 100px;
width: 200px;
height: 30px;
position: relative;
bottom: 0.5em;
}

.Button:hover{

color: #111518;
background: linear-gradient(90deg, #eebd05 ,#f1cb5e);
    

}


.Button:active{

filter: drop-shadow( 0px 0px 4px #dabc4f);    

}



#Footer a{
color: white;
text-decoration: none;
font-size: 10px;

}

#Footer a:hover{

color: #dabc4f;

}




#Principio{

color: white;

}


#Principio h1{

font-size: 70px;
margin-bottom: 5px;

}




#Principio p{

font-size: 15px;

}


#Principio a{

text-decoration: none;
color: #dabc4f;
}


#Principio a:hover{

color: #eebd05;

}

#Card{

background-color: #111518;
border-radius: 50px;
filter: drop-shadow(0px 0px 5px #000000);

}


#Card-Farming .card{

background-color: #111518;
border-radius: 1em;
filter: drop-shadow(0px 0px 5px #000000);

    
}

#Coin .card{
    height: 50px;
    color: white;
    background-color: #111518;
    border-radius: 1em;
    filter: drop-shadow(0px 0px 5px #000000);

}


#Calculator{

color: white;

}


#Calculator .form-select{
    color: white;
    background-color: #111518;
    border-radius: 0.8em;
    filter: drop-shadow(0px 0px 5px #000000);
    border: none;

}





#Calculator .card{


    background-color: #111518;
    border-radius: 1em;
    filter: drop-shadow(0px 0px 5px #000000);

}


#Referral{

color: white;

}


#level-up p{

color: white;

}


#level-up button{

background: linear-gradient(90deg,#f1cb5e,#eebd05 );
color: white;
border: none;
width: 100%;
height: 60px;
border-radius: 40px;

}




#level-up button:hover{

color: #111518;
background: linear-gradient(90deg, #eebd05 ,#f1cb5e);
    

}
    
    
#level-up button:active{

    filter: drop-shadow( 0px 0px 4px #dabc4f);    


}



#Whithdral{

width: 100%;
background-color: #eebd05;
border: none;
border-radius: 1em;
height: 35px;
color: white;

}


#Stake{

    width: 100%;
    background: linear-gradient(90deg, #eebd05 ,#f1cb5e);
    border: none;
    border-radius: 1em;
    height: 35px;
    color: white;

}



#Upgrade{

    width: 100%;
    background: linear-gradient(90deg, #eebd05 ,#f1cb5e);
    border: none;
    border-radius: 1em;
    height: 35px;
    color: white;
}



#Whithdral:hover{

    color: #111518;
    
    }
    
    
#Stake:hover{

    background: linear-gradient(90deg,#f1cb5e , #eebd05);
    color: #111518;

}
    
    
    
#Upgrade:hover{

    background: linear-gradient(90deg ,#f1cb5e , #eebd05);
    color: #111518;

}



#Whithdral:active{

filter: drop-shadow( 0px 0px 4px #dabc4f);    


}



#Stake:active{

filter: drop-shadow( 0px 0px 4px #dabc4f);  

}



#Upgrade:active{

filter: drop-shadow( 0px 0px 4px #dabc4f);  

}




#Principio #Card{

height: 130px;

}